.wrapper
  .wrapper__inner

    // Highlight the immediate task \\
    .focusBlock
      %h1.focusBlock__task= @tasks[0].first.title

    // Listing all tasks \\
    .uiList
      %ol{data: {update_url: sort_tasks_url}, id: "tasks"}
        - @tasks.each_with_index do |tasks, index|
          %li.uiList__title
            Day
            = index
          - tasks.each do |task|
            =content_tag_for :li, task do
              = link_to task.title.truncate(50), task
              = task.duration
